# dependencias
node_modules/
.pnpm-debug.log*

# next.js build
.next/
out/
build/

# logs de error
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ¡CRÍTICO: Secretos y Variables de Entorno!
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local
.env*.local

# vercel y typescript
.vercel
*.tsbuildinfo
next-env.d.ts

# archivos de sistema
.DS_Store
Thumbs.db